<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Converter</title>
</head>
<body>

    <div class="container">

        <%- include('./partials/head.ejs') %>

        <% if (locals.message) { %>
            <p><strong><%= message %></strong></p>
            <p><a href="<%= downloadLink %>">Download PDF</a></p>
        <% } %>
       
        <%- include('./partials/script.ejs') %>

    </div>

   

</body>
</html>