<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Converter</title>
</head>
<body>
    
    <div class="card" style="width: 18rem;">
        <img src="/public/images/wordToPdf.jpg" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">Word to Pdf</h5>
          <p class="card-text">Easily convert your word file into pdf file</p>
          <a href="#" class="btn btn-primary">convert</a>
        </div>
      </div>

</body>
</html>