<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word to pdf</title>
</head>
<body>
    
    <div class="mt-5">
        <h1>Convert Word File to PDF</h1>
        <form action="/convert-word" method="POST" enctype="multipart/form-data">
            <input type="file" name="wordFile" accept=".doc, .docx" required />
            <button type="submit">Convert Word to PDF</button>
        </form>
    </div>

</body>
</html>